<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <title>{{ title }}</title>

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <link rel="stylesheet"
          href="/static/css/style.css">

</head>

<body>

<div id="container">

    <div id="sidebar">

        <h2>Dawarich Trip Builder</h2>

        <input
            id="searchBox"
            type="text"
            placeholder="Search for a place">

        <button id="searchButton">
            Search
        </button>

        <hr>

        <h3>Trip Stops</h3>

        <div id="tripList">

            No stops yet.

        </div>

    </div>

    <div id="map"></div>

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script type="module" src="/static/js/map.js"></script>

</body>

</html>